<div id="container">
  <div id="headerContainer">
    <h1>Calory Tracker</h1>
  </div>
  <div id="search">
    <label for="searchItem">Search</label>
    <input type="text" id="searchBox">
    <button type="button" id="newFood" (click)="toggleShow()">Add New Food</button>
  </div>
  <div id="form-group" *ngIf="show">
      <div class="name">
        <label for="Name">Name</label>
        <input type="text" id="name" [(ngModel)]="Name">
      </div>
      <div class="calories">
        <label for="Calory">Calories</label>
        <input type="number" id="calories" [(ngModel)]="Calory"><br>
      </div>
      <div class="image">
        <label for="Image">Image</label>
        <input type="text" id="image" [(ngModel)]="Image">
      </div>
      <button type="submit" id="submit" (ngSubmit)="onSubmit()" (click)="onSubmit()">Submit</button>
  </div>
  <div id="displayContainer">
    <div id="box">
      <h2>{{Name}}</h2>
      <h3>{{Calory}}</h3>
      <img src={{Image}} alt="">
    </div>
  </div>
</div>
