<div id="container">
  <div id="headerContainer">
    <h1>Calory Tracker</h1>
  </div>
  <div id="search">
    <label for="searchItem">Search</label>
    <input type="text" id="searchBox" placeholder="Item name">
    <button type="submit" id="newFood" (click)="toggleShow()">{{ChangeText?"Add New Food":"Submit"}}</button>
  </div>
  <div id="form-group" *ngIf="show">
    <div class="name">
      <label for="Name">Name</label>
      <input type="text" formControlName="Name" id="name">
    </div>
    <div class="calories">
      <label for="Calory">Calories</label>
      <input type="number" formControlName="Calory" id="calories"><br>
    </div>
    <div class="image">
      <label for="Image">Image</label>
      <input type="text" formControlName="Image" id="image">
      <img src="" alt="">
    </div>
  </div>
</div>
